{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Login" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<form action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}"
      method="post"
      class="form-horizontal">
    {% trans 'Login' as submit_text %}
    {% render_form_fields form submit_text %}

    <div class="">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <!-- <a class="btn btn-primary" href="{% url 'social:begin' 'twitter' %}" hidden="true">Login with Twitter<i class="fab fa-twitter"></i></a> -->
       <span> <a class="btn btn-primary active" href="{% url 'social:begin' 'facebook' %}">Login with Facebook  <i class="fab fa-facebook-square"></i></a></span>
       <span><a class="btn btn-primary active" href="{% url 'social:begin' 'google-oauth2' %}?next=/">Login with Google   <i class="fab fa-google-plus-square"></i></a></span>
    </div>
</form>
{% endblock %}


{% block sidebar %}
<h4>{% trans "No account?" %}</h4>
<p>
    <a href="{% url 'core:user:registration' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'sign-in' %}"></span>
        {% trans "Register" %}
    </a>
</p>

<h4>{% trans "Forgot password?" %}</h4>
<p>
    <a href="{% url 'core:user:password_reset' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'key' %}"></span>
        {% trans "Reset password" %}
    </a>
</p>
{% endblock %}
