{% load i18n staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css' %}">
<script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}" ></script>
<script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js' %}" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="{% static 'js/compare_weight.js' %}"></script>

<script>
$(document).ready( function () {
    /* Make table sortable */
    $('#active_member_list, #inactive_member_list').DataTable({
        paging: false,
        bFilter: true,
        bInfo : false
    });
});
</script>
<script>
    function openTab(evt, tabName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("tab");
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
         tablinks[i].className = tablinks[i].className.replace(" w3-border-green", "");
         tablinks[i].className = tablinks[i].className.replace(" w3-bottombar", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.firstElementChild.className += " w3-border-green ";
      evt.currentTarget.firstElementChild.className += " w3-bottombar ";
    }
</script>

<div class="w3-container">
  <div class="w3-row">
    <a href="javascript:void(0)" class="active" onclick="openTab(event, 'Active');">
      <div class="w3-third tablink  w3-hover-light-grey w3-padding w3-bottombar w3-border-green"><h4>Active Members List</h4></div>
    </a>
    <a href="javascript:void(0)" onclick="openTab(event, 'Inactive');">
      <div class="w3-third tablink w3-hover-light-grey w3-padding"><h4>Inactive Members List</h4></div>
    </a>
    <a id="compare" class="btn btn-success">Compare</a>
  </div>

  <div id="Active" class="w3-container tab">
    <table class="table table-hover" id="active_member_list">
        <thead>
        <tr>
            <th></th>
            {% for key in user_table.keys %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for current_user in user_table.users %}
            {% if current_user.obj.is_active == True %}
                {% include "gym/user_table.html" %}
            {% endif %}
        {% endfor %}
        </tbody>
        </table>

  </div>

  <div id="Inactive" class="w3-container tab" style="display:none">
    <table class="table table-hover" id="inactive_member_list">
        <thead>
            <tr>
                <th></th>
                {% for key in user_table.keys %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for current_user in user_table.users %}
                {% if current_user.obj.is_active == False %}
                    {% include "gym/user_table.html" %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
  </div>        

</div>
<div id='graph_error'>
</div>
<canvas id="compare_weight_diagrams"></canvas>