{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Your workouts" %}{% endblock %}


{% block content %}
    <div class="list-group">
        {% for workout in workouts %}
            <a href="{{ workout.get_absolute_url }}" class="list-group-item">
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>

                {% if workout == current_workout %}
                <span class="badge">
                    <em>{% trans "active" %}</em>
                </span>
                {% endif %}

                <h4 class="list-group-item-heading">{{ workout }}</h4>
                <p class="list-group-item-text">{{ workout.creation_date }}</p>
            </a>
        {% empty %}
            <a href="{% url 'manager:workout:add' %}" class="list-group-item">
            {% trans "No workouts found." %}<br>{% trans "Add one now." %}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block options %}
<div class="container-fluid">
    <a href="{% url 'manager:workout:add' %}" class="btn btn-success btn-sm">
        {% trans "Add workout" %}
    </a>
    <a href="{% url 'manager:workout:export_workout'%}" class="btn btn-success btn-sm">
        {% trans "Export workouts" %}
    </a>
    <a href="#" data-toggle="modal" data-target="#importModal" class="btn btn-success btn-sm">
            {% trans "Import workouts" %}
    </a>
    <div id="importModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Import workouts (json)</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'manager:workout:import_workout' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <input type="file" required class="form-control-file" name="csv_file" accept=".json"/>
                            </div>
                        </div>
                        <input type="submit" value="Import" class="btn btn-success btn-sm" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
